[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Baz at localhost
Type=Link
URL=http://nohost/plone/foo/bar/baz
TryExec=
Icon=/usr/share/pixmaps/firefox.xpm
X-GNOME-DocPath=
Terminal=false
GenericName[en]=Baz Description
Comment[en]=Comment for Baz
